/* Start Global Rules  */
body 
{
    font-size: 14px;
    line-height: 1.7;
    background-color: deepskyblue;
    font-family: auto;
    scroll-behavior: smooth;
}
/* End Global Rules  */
.ChangeColor 
{
   
    position: fixed;
    top: 10%;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#icon {
    background-color: black;
    float: left;
    padding: 15px;
    color: #ffffff;

}
.mainColor {
    background-color: #E1D7C6;
    max-width: 0;
    overflow: hidden;
    transition: 0.7s;
}
.mainColor span {
    width: 23px;
    height: 23px;
    display: inline-block;
}
/* Start Section Container */
.container
{
    margin: 100px auto;
    min-width: 70%;
    box-shadow: 16px 6px 36px  ;
    padding: 50px;
}
.container h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.5rem ;
    color: #ffffff;
    font-family: auto;
   
}
.accordion 
{
    color: #ffffff;
    font-weight: 500;
    background-color: rgb(10, 11, 11);
    padding: 15px 10px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 5px ;
    font-weight: 700;
    border-radius: 4px;
}

.accordion::before {
    content: "+";
    float: right;
    font-weight: 700;
    font-size: 17px;
}
.active::before {
    content: "-";
    float: right;
    font-weight: 700;
    font-size: 17px;
}
.container .description 
{
    background-color: #ffffff;
    padding: 0 15px;
    max-height: 0;
    overflow: hidden;
    font-size: 18px;
    transition: 0.4s ease-in;
}